{{#each stations}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{name}}
    </h2>
    <h4 class="ui header">
      Latitude: {{latitude}}
    </h4>
    <h4 class="ui header">
      Longitude: {{longitude}}
    </h4>
    <p> Latest Reading: {{latestReading}} </p>
    <a href="/stations/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deletestation/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}
