{{> menu}}

<section class="ui segment ">
    <div class="ui five column grid">
        <div class="black column">
            <h1>
                {{station.name}}
            </h1>
        </div>
        <div class="column">
            <img class="ui small centered image">
            <h1 class="ui purple header">
                Weather
            </h1>
            <h3>{{weatherType}}</h3>
            <i class="icon {{weatherType}}"></i>

        </div>
        <div class="column">
            <img class="ui small centered image">
            <h1 class="ui blue header">
                Temperature
            </h1>
            <h3>{{celsius}}</h3>
            <h3>{{fahrenheit}}</h3>
            <h3>{{minimumTemperature}}</h3>
            <h3>{{maximumTemperature}}</h3>
            <img class="ui tiny centered image" src="/public/images/trends/${station.trendTemp()}.png" }>
            <h5 class="ui center aligned header">{{trendTemperature}}</h5>
        </div>
        <div class="column">
            <img class="ui small centered image" src="/public/images/wind.png">
            <h1 class="ui red header">
                Wind
            </h1>
            <h3>{{windBeaufort}}</h3>
            <h3>{{windDirection}}</h3>
            <h3>{{windChill}}</h3>
            <h3>{{minWind}}</h3>
            <h3>{{maxWind}}</h3>
            <img class="ui tiny centered image" src="/public/images/trends/${station.trendWind()}.png" }>
            <h5 class="ui center aligned header">{{trendWind}}</h5>
        </div>
        <div class="column">
            <img class="ui small centered image" src="/public/images/pressure.png">
            <h1 class="ui pink header">
                Pressure
            </h1>
            <h3>{{pressure}}</h3>
            <h3>{{minPress}}</h3>
            <h3>{{maxPress}}</h3>
            <img class="ui tiny centered image" src="/public/images/trends/${station.trendPressure()}.png" }>
            <h5 class="ui center aligned header">{{trendPressure}}</h5>
        </div>
    </div>
</section>


<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.name}}
  </h2>
  <h4> Latest Reading: {{latestReading}}</h4>
  {{> listreadings}}
  {{> addreading}}
</section>