{{> menu}}

<section class="ui segment ">
    <div class="ui five column grid">
        <div class="black column">
            <h1>
                {{station.name}}
            </h1>
          <h3>
                Latitude: {{station.latitude}}
            </h3>
          <h3>
                Longitude: {{station.longitude}}
            </h3>
        </div>
        <div class="column">
            <img class="ui small centered image" src="https://weather-top-v3.glitch.me/images/weather.png">
            <h2 class="ui purple header">
                Weather
            </h2>
            <h4>{{weatherType}}</h4>
            <img class="ui tiny centered image" src="https://weather-top-v3.glitch.me/images/weather/{{weatherType}}.png" }>
        </div>
        <div class="column">
            <img class="ui small centered image" src="https://weather-top-v3.glitch.me/images/temperature.png">
            <h2 class="ui blue header">
                Temperature
            </h2>
            <h4>{{celsius}}</h4>
            <h4>{{fahrenheit}}</h4>
            <h4>{{minimumTemperature}}</h4>
            <h4>{{maximumTemperature}}</h4>
            <h4>{{temperatureTrend}}</h4>
            <img class="ui tiny centered image" src="https://weather-top-v3.glitch.me/images/trends/{{temperatureTrend}}.png">
        </div>
        <div class="column">
            <img class="ui small centered image" src="https://weather-top-v3.glitch.me/images/wind.png">
            <h2 class="ui red header">
                Wind
            </h2>
            <h4>{{windBeaufort}}</h4>
            <h4>{{windDirect}}</h4>
            <img class="ui tiny centered image" src="https://weather-top-v3.glitch.me/images/direction/{{windDirect}}.png">
            <h4>{{windTemp}}</h4>
            <h4>{{minimumWind}}</h4>
            <h4>{{maximumWind}}</h4>
            <h4>{{windTrend}}</h4>
            <img class="ui tiny centered image" src="https://weather-top-v3.glitch.me/images/trends/{{windTrend}}.png">
        </div>
        <div class="column">
            <img class="ui small centered image" src="https://weather-top-v3.glitch.me/images/pressure.png">
            <h2 class="ui pink header">
                Pressure
            </h2>
            <h4>{{pressureHpa}}</h4>
            <h4>{{minimumPressure}}</h4>
            <h4>{{maximumPressure}}</h4>
            <h4>{{pressureTrend}}</h4>
            <img class="ui tiny centered image" src="https://weather-top-v3.glitch.me/images/trends/{{pressureTrend}}.png">
        </div>
    </div>
</section>


<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.name}}
  </h2>
  <h4> Latest Reading: {{latestReading}}</h4>
  {{> listreadings}}
  {{> addreading}}
</section>